build/
res/pictures/Sima.png
res/pictures/Névtelen.png
res/pictures/Sima.png
res/pictures/Zaszlo.png
res/pictures/16-163247_options-png-setting-icon-clip-art.jpg
res/pictures/isolated-mute-loud-volume-icon-260nw-1665381109.webp
*.7z
*.zip